 
      <h1 style="color: red;">Объявление</h1>
      <p>Пробники будут проводится по <strong>Воскресеньям</strong>, даты можно посмотреть в форме регистрации.</p>
      <h2 style="color: red;">Внимание!</h2>
      <p>10.05.2022 пробник №2 по информатике. Задачи будут составлены с учётом задач досрочного ЕГЭ - 2022.</p>
      <p>После прохождения пробника участникам будет доступен полнотекстовый разбор задач.</p>
      <p><strong>Оплата</strong> 200 рублей.</p>
      <p><strong>Внимание:</strong> ЕГЭ по информатике будет доступен в очном (компьютерные классы БГУ) и дистанционном формате<sup>*</sup>.</p>
      <p>
        <strong>Регистрация:</strong> 10-30 - 11-00<br>
        <strong>Начало пробника:</strong> 11-00 <br>
        <strong>Продолжительность:</strong> 3 часа 55 минут<br>
      </p>
      <p>На регистрацию необходимо принести согласие (см условия участия). Также на регистрации производится оплата участия (наличными).</p>
      <p>*В случае участия в дистанционном формате оплата вносится заранее.</p>
      <p>Справки по телефонам: 21-97-57, 68-11-14.</p>
 


      <div class="row">
        <div class="col-lg-6">
            <h3><strong>Условия участия</strong> </h3>
            <p>
              К участию в Пробном тестировании ЕГЭ по математике и ЕГЭ информатике допускаются учащиеся среднего профессионального образования. 
            </p>
            <p>Для участия в пробном тестировании по Математике необходимо зарегистрироваться на сайте, за три дня до начала пробника (даты см. в форме регистрации).</p>
            <p>Для <strong>очного</strong> участия в пробном тестировании по Информатике необходимо зарегистрироваться на сайте, ВНИМАНИЕ количество мест ограничено!</p>
            <p>Для <strong>заочного</strong> участия в пробном тестировании по Информатике необходимо зарегистрироваться на сайте, за три дня до начала пробника(даты см. в форме регистрации).</p>
            <p>
            ЗАЯВКИ ПОДАЮТСЯ КАЖДЫМ УЧАСТНИКОМ ИНДИВИДУАЛЬНО НА САЙТЕ. Групповая регистрация не предусмотрена.</p>
            <p><b>Участие платное – 200 рублей</b>, количество участников от одной школы не ограничивается.</p>
            <p>Участники должны самостоятельно распечатать и подписать шаблоны согласия.</p>
            <h3><strong>Шаблоны согласия</strong> </h3>
            <p>[<a href="files/u_18.pdf" target="_blank">Скачать шаблон согласия для несовершеннолетних]</a></p>
            <p>[<a href="files/a_18.pdf" target="_blank">Скачать шаблон согласия для совершеннолетних]</a></p>
        </div>
        
        <div class="col-lg-6">
            <h3><strong>  Пробный ЕГЭ по Математике</strong> </h3>

            <p>Институт математики и информатики БГУ приглашает учащихся 11-х
            классов школ и выпускников СПО г. Улан-Удэ и республики Бурятия
            принять участие в пробном экзамене по <b>математике профильного
            уровня</b> (ЕГЭ по математике).</p>
            <p>Варианты пробного экзамена и их проверка
            будет осуществляться действующими экспертами экзаменационной
            комиссии по математике.</p>
            
            
            <h3><strong>  Пробный ЕГЭ по Информатике</strong> </h3>
            
            <p>Институт математики и информатики БГУ приглашает учащихся 11-х
            классов школ и выпускников СПО г. Улан-Удэ и республики Бурятия
            принять участие в пробном экзамене по <b>информатике</b>.</p>
            <p>Пробный ЕГЭ будет проводится на компьютерах с использованием тестирующей системы. Поддерживаемые языки программирования: C++, Pascal, Python. Среды разработки: CodeBlocks, PascalABC, Python IDLE.</p>
            <p>В случае дистанционного участия участники должны иметь доступ к сети Интернет, браузер (Mozilla, Chrome, Edge) и необходимый пакет программ для работы (среда разработки, MS Office или аналог).</p>
            <p>Подробности по телефонам: 21-97-57, 68-11-14.</p>
        </div>
        
</div>
 
    

  
  

