<p> Институт математики и информатики БГУ приглашает учащихся 6 ,7 , 8 и 10 классов на курсы Малого ИМИ по олимпиадной подготовке по математике.
    Место проведения: г. Улан-Удэ, ул. Ранжурова, 5, 1 корпус БГУ.</p>
<p><strong>Стоимость:</strong>4000 рублей за смену (36 академических часов)</p>
<p>Преподаватели:</p>
       <ul> 
        <li>Антонова Л.В., Директор ИМИ, к.ф.-м.н., профессор</li>
        <li>Бадеев А.В., к.ф.-м.н., доцент, председатель комиссии ЕГЭ</li>
        <li>Заятуев Б.В., зав. кафедрой ГМПМ, к.ф.-м.н., доцент, старший эксперт ЕГЭ</li>
        <li>Нефедов Ю.Ю., старший преподаватель ГМПМ</li>
        <li>Урбаханов А.В., к.ф.-м.н., доцент, старший эксперт ЕГЭ</li>
        <li>Хабитуев Б.В., зав. лаборатории программных систем ИМИ БГУ</li>
        <li>Цыренжапов Н.Б., зав. кафедрой ПМДУ, к.ф.-м.н., доцент, старший эксперт ЕГЭ</li>
       </ul>
       <p>Запись на курсы и заключение договоров в аудитории 1203 первого корпуса БГУ (г. Улан-Удэ, ул. Ранжурова, 5)</p>
       <p>Примечание: 6,7,8 и 10 классы по 2021-2022 учебному году, т.е. в 2022-2023 учебном году – это 7, 8, 9 и 11 классы соответственно.</p>
       <p>Все вопросы по телефонам: 219757, 681114</p>



       Институт математики и информатики БГУ приглашает учащихся 6 ,7 , 8 и 10 классов на курсы Малого ИМИ по олимпиадной подготовке по математике.
Место проведения: г. Улан-Удэ, ул. Ранжурова, 5, 1 корпус БГУ .
Стоимость: 4000 рублей за смену (36 академических часов)
Преподаватели:
• Антонова Л.В., Директор ИМИ, к.ф.-м.н., профессор
• Бадеев А.В., к.ф.-м.н., доцент, председатель комиссии ЕГЭ
• Заятуев Б.В., зав. кафедрой ГМПМ, к.ф.-м.н., доцент, старший эксперт ЕГЭ
• Нефедов Ю.Ю., старший преподаватель ГМПМ
• Урбаханов А.В., к.ф.-м.н., доцент, старший эксперт ЕГЭ
• Хабитуев Б.В., зав. лаборатории программных систем ИМИ БГУ
• Цыренжапов Н.Б., зав. кафедрой ПМДУ, к.ф.-м.н., доцент, старший эксперт ЕГЭ
Запись на курсы и заключение договоров в аудитории 1203 первого корпуса БГУ (г. Улан-Удэ, ул. Ранжурова, 5)
Все вопросы по телефонам: 219757, 681114
Примечание: 6,7,8 и 10 классы по 2021-2022 учебному году, т.е. в 2022-2023 учебном году – это 7, 8, 9 и 11 классы соответственно.
Обязательно поля номер телефона ребенка и родителя