<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Математические субботники «Подготовка к ЕГЭ и ОГЭ»</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body> 

  
  <div class="block-content" style="max-width: 1000px;margin: 0 auto;">     
      
      <p>Cо 2 октября 2021г. Институт математики и информатики БГУ приглашает учащихся 8-9, 10-11 классов на математические субботники по подготовке к ОГЭ и ЕГЭ:</p>
       <ul> 
        <li>ликвидация пробелов в знаниях по математике</li>
        <li>систематизация знаний по математике</li>
        <li>разбор всех типов заданий ОГЭ, ЕГЭ по теме занятия</li>
        <li>на курсах работают лучшие преподаватели ИМИ</li>
        <li>формат занятий очно-дистанционный</li>
        <li>учтены все изменения в ЕГЭ 2022 года</li>
        <li>учителям бесплатно</li>
       </ul>
       <p><strong>Стоимость обучения для 10-11 классов:</strong> 1500 рублей в месяц - очное участие, 1000 рублей в месяц - дистанционное участие (платформа webinar.ru). Одно занятие - 200 рублей.</p>
       <p><strong>Стоимость обучения для 8-9 классов:</strong> 750 рублей в месяц - очное участие, 500 рублей в месяц - дистанционное участие (платформа webinar.ru). Одно занятие - 100 рублей.</p>
       <p><strong>Внимание:</strong> при оформлении групповой заявки (от 10 человек) скидки.</p>
       <p>Для участия <strong>необходимо</strong> <a href="#registration">зарегистрироваться</a>.</p>
       <p>Справки по телефонам: +7(3012) 297-160 доб. 322 — Дирекция ИМИ, +7(9021)68-11-14 — Миронова Екатерина Пурбуевна.</p>
  </div>

 
  <div class="clr"></div>
    <div class="col-lg-2 col-md-2"></div>    
    <div class="col-lg-9 col-md-9 block-content" id="schledure">
    <h3><strong>Расписание занятий</strong> </h3>
    <p>
      Занятия каждую субботу. 2 пары (4 урока) с 15-00 до 18-00.
    </p>
    <p>
      [<a href="files/10-11.pdf" target="_blank">Расписание занятий для 10-11 классов</a>]<br>
      [<a href="files/8-9.pdf" target="_blank">Расписание занятий для 8-9 классов</a>]<br>
    </p>
   <!-- <p>
      Уважаемые участники, обращаем ваше внимание, что часть занятий дублируется в Zoom и вы можете посетить их в дистанционном формате.
    </p>
    <table class="table">
      <tr>
        <th>Дата&nbsp;&nbsp;</th>
        <th>Время</th>
        <th>Аудитория</th>
        <th>Тема</th>        
        <th>Преподаватель</th>        
      </tr>
      <tr>
        <td>02.10.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Медианы треугольника. Центр тяжести треугольника</td>
        <td></td>
      </tr>
       <tr>
        <td>02.10.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Теория вероятностей</td>
        <td></td>
      </tr>

      <tr>
        <td>09.10.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Биссектрисы треугольника. Центр вписанной окружности</td>
        <td></td>
      </tr>
       <tr>
        <td>09.10.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Теория вероятностей</td>
        <td></td>
      </tr>

      <tr>
        <td>16.10.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Высоты треугольника. Ортоцентр треугольника</td>
        <td></td>
      </tr>
       <tr>
        <td>16.10.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Теория вероятностей</td>
        <td></td>
      </tr>

      <tr>
        <td>23.10.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Вписанные,  описанные и вневписанные окружности. Теорема Птоломея</td>
        <td></td>
      </tr>
       <tr>
        <td>23.10.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Теория вероятностей</td>
        <td></td>
      </tr>

      <tr>
        <td>30.10.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Вписанные,  описанные и вневписанные окружности. Теорема Птоломея</td>
        <td></td>
      </tr>
       <tr>
        <td>30.10.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Теория вероятностей</td>
        <td></td>
      </tr>


      <tr>
        <td>06.11.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Взаимное расположение окружностей</td>
        <td></td>
      </tr>
       <tr>
        <td>06.11.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Задача №13. Уравнения</td>
        <td></td>
      </tr>

      <tr>
        <td>13.11.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Трапеция. Вписанные и описанные окружности</td>
        <td></td>
      </tr>
       <tr>
        <td>13.11.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Задача №13. Уравнения</td>
        <td></td>
      </tr>

      <tr>
        <td>20.11.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Трапеция. Вписанные и описанные окружности</td>
        <td></td>
      </tr>
       <tr>
        <td>20.11.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Задача №13. Уравнения</td>
        <td></td>
      </tr>

      <tr>
        <td>27.11.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Экономические задачи (задача 17)</td>
        <td></td>
      </tr>
       <tr>
        <td>27.11.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Задача №13. Уравнения</td>
        <td></td>
      </tr>

      <tr>
        <td>04.12.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Экономические задачи (задача 17)</td>
        <td></td>
      </tr>
       <tr>
        <td>04.12.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Числа и их свойства (задача 19)</td>
        <td></td>
      </tr>

      <tr>
        <td>11.12.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Экономические задачи (задача 17)</td>
        <td></td>
      </tr>
       <tr>
        <td>11.12.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Числа и их свойства (задача 19)</td>
        <td></td>
      </tr>

      <tr>
        <td>18.12.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Экономические задачи (задача 17)</td>
        <td></td>
      </tr>
       <tr>
        <td>18.12.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Числа и их свойства (задача 19)</td>
        <td></td>
      </tr>

      <tr>
        <td>25.12.21</td>
        <td>15.00-16.30</td>
        <td>1209</td>
        <td>Экономические задачи (задача 17)</td>
        <td></td>
      </tr>
       <tr>
        <td>25.12.21</td>
        <td>16.30-18.00</td>
        <td>1209</td>
        <td>Числа и их свойства (задача 19)</td>
        <td></td>
      </tr>
    </table> 
   -->
  </div> 
    <div class="col-lg-1 col-md-1"></div>

    <div class="clr"></div>
    <div class="col-lg-4 col-md-4"></div>
    
    <div class="col-lg-4 col-md-4" id="registration">
      
   <h1 class="text-center">Регистрация </h1>
  
  
		<p><span class="text-danger">Поля со звёздочкой являются обязательными.</span></p> 
   
		 <form id="formaReg" action="action.php" method="POST" onsubmit="return false;" class="form-group">
            <div class="form-group text-left">
              <label for="family">Фамилия<span class="text-danger">*</span>:</label>
              <input type="text" class="form-control" placeholder="Фамилия" name="surname" maxlength="50" required>
            </div>
            <div class="form-group text-left">
              <label for="name">Имя<span class="text-danger">*</span>:</label>
              <input type="text" class="form-control" placeholder="Имя" name="name" maxlength="50" required>
            </div>
            <div class="form-group text-left">
              <label for="fname">Отчество (если есть):</label>
              <input type="text" class="form-control" placeholder="Отчество" name="patronymic" maxlength="50">
            </div>
            
            <div class="form-group text-left">
              <label for="school">Школа № (№, наименование иной образовательной организации)<span class="text-danger">*</span>:</label>
              <input type="text" class="form-control" placeholder="Школа" name="school" maxlength="70" required>
            </div>
             <div class="form-group text-left">
              <label for="school">Район/город<span class="text-danger">*</span>:</label>
              <input type="text" class="form-control" placeholder="Населённый пункт, где вы проживаете" name="city" maxlength="70" required>
            </div>
            <div class="form-group text-left">
              <label for="school">Класс<span class="text-danger">*</span>:</label>
              <input type="text" class="form-control" placeholder="Напишите в каком классе вы учитесь" name="class" maxlength="70" required>
            </div>
            
            <div class="form-group text-left">
              <label for="classes">Телефон<span class="text-danger">*</span>:</label>
              <input type="text" class="form-control" placeholder="Телефон" name="phone" maxlength="12" required>
            </div>
            <div class="form-group text-left">
              <label for="classes">e-mail:</label>
              <input type="text" class="form-control" placeholder="email" name="email" maxlength="70">
            </div>
            <div class="form-group text-left">
              <label for="participation">Форма участия:</label>
              <select name="participation" class="form-control">
                <option value="personal">Очно</option>
                <option value="online">Дистанционно</option>                
              </select>
            </div>
            <div class="form-group text-left">
              <label for="course">Выберите курс</label>
              <select name="course" class="form-control">
                <option value="8-9">8-9 класс</option>
                <option value="10-11">10-11 класс</option>                
              </select>
            </div>
            <div class="form-group text-left">
              <label for="classes">ФИО представителя<span class="text-danger">*</span>:</label>
              <input type="text" class="form-control" placeholder="ФИО родителя или законного представителя" name="parents" maxlength="12" required>
            </div>
            <div class="form-group text-left">
              <label for="classes">Телефон представителя<span class="text-danger">*</span>:</label>
              <input type="text" class="form-control" placeholder="ФИО родителя или законного представителя" name="parents_phone" maxlength="12" required>
            </div>
            <div class="form-group text-left">
              <input class="soglasie" type="radio" name="soglasie" value=1> Я согласен(-сна) на обработку моих персональных данных (для участников 18 лет и старше)<br>
              <input class="soglasie" type="radio" name="soglasie" value=2> Я согласен(-сна) на обработку персональных данных несовершеннолетнего (для участников младше 18 лет)<br>
            </div>              
            <input type="submit" class="btn btn-success" name="goZapisat" value="Записаться">
        </form> 

		
	</div> 
    <div class="col-lg-4 col-md-4"></div>
    <div class="clr"></div>
    <footer class="text-center" id="sponsors">
     
   
    </footer>

<!-- Modal -->
    <!--
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
                    <div class="form-group text-right">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              </div>
             </div>
          <div class="modal-body text-center errorBody size-18 text-danger">
              
          </div>
          
          </div>
        </div>
      </div>
    -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="form-group text-right">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
          </div>
          <div class="modal-body text-center">
              <div class="form-group text-center">
                     <p class="text-center size-24 text-success"><b>Вы успешно записались!</b></p>
              </div>
          </div>
          
          </div>
        </div>
      </div>
      <!-- Modal -->
    <script src="js/jquery-1.12.0.min.js"></script>
    <script src="js/salvattore.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
